@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

@font-face {
    font-family: 'Lato_Bold';
    src: url("../../assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: 'Lato_Light';
    src: url("../../assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: 'Lato_Regular';
    src: url("../../assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: 'BentonSans_Bold';
    src: url("../../assets/fonts/BentonSans-Bold.ttf");
}

@font-face {
    font-family: 'BentonSans_Book';
    src: url("../../assets/fonts/BentonSans-Book.ttf");
}

@font-face {
    font-family: 'BentonSans_Medium';
    src: url("../../assets/fonts/BentonSans-Medium.ttf");
}

@font-face {
    font-family: 'BentonSans_Regular';
    src: url("../../assets/fonts/BentonSans-Regular.ttf");
}