p {
    margin: 0;
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header {
    .navbar {
        width: 100%;
        padding: 27px 40px;
        height: 100px;
    }
    .nav-link {
        color: white;
        font-family: 'Lato';
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;
    }
    .navbar-toggler {
        color: white;
        cursor: pointer;
    }
    .ipad-intro {
        padding: 0 200px 60px 200px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;

        .ipad-img {
            width: 50%;
            margin-right: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                object-fit: cover;
                overflow: hidden;
                width: 100%;
            }
        }
        .ipad-description {
            width: 50%;
            display: flex;
            flex-direction: column;
            color: white;
            justify-content: center;
            align-items: center;
            
            :nth-child(1) {
                font-weight: 600;
                font-size: 82px;
                @media all and (max-width: 1368px) {
                    font-size: 60px;
                }
                @media all and (max-width: 768px) {
                    font-size: 48px;
                }
            }
            :nth-child(2) {
                font-weight: 300;
                font-size: 30px;
            }
        }
        @media all and (max-width: 1366px) {
            padding: 0 50px 60px 50px;
            flex-direction: column;
            .ipad-img {
                width: 100%;
                margin-bottom: 100px;
            }
            .ipad-description {
                width: 100%;
                p {
                    text-align: center;
                }
            }
        }
    }
}

.mainbody {
    .enterprise-quiz {
        margin: 0 auto;
        margin-top: 72px;
        font-weight: 500;
        font-size: 34px;
        text-align: center;
    }

    .enterprise-answer {
        margin: 0 auto;
        max-width: 1225px;
        padding: 10px;
        margin-top: 40px;
        font-weight: 300;
        font-size: 22px;
    }

    .enterprise-properties {
        margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .enterprise-property {
            width: 33%;
            height: 400px;
            padding: 0 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            background-size: cover;
            background-position: center center;

            .property-title {
                font-weight: 500;
                font-size: 42px;
                @media all and (max-width: 576px) {
                    font-size: 30px;
                } 
            }
            .property-content {
                font-weight: 300;
                font-size: 15px;
            }
        }
        .integrations {
            background-image: url(../../assets/imgs/integrations.png);
        }
        .engagement {
            background-image: url(../../assets/imgs/engagement.png);
        }
        .communication {
            background-image: url(../../assets/imgs/communication.png);
        }

        @media all and (max-width: 1200px) {
            flex-direction: column;
            justify-content: flex-start;
            .enterprise-property {
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }

    .video-panel {
        width: 100%;
        padding: 80px 50px 50px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .video-player {
            width: 50%;
            .video-lnktext {
                margin: 0;
                font-weight: 500;
                font-size: 34px;
            }
            img {                    
                object-fit: cover;
                overflow: hidden;
                width: 100%;
            }
        }
        .idevices {
            width: 50%;
            img {                    
                object-fit: cover;
                overflow: hidden;
                width: 100%;
            }            
        }

        @media all and (max-width: 768px) {
            flex-direction: column;
            .video-player {
                width: 100%;
            }
            .idevices {
                margin-top: 30px;
                width: 100%;
            }
        }
    }

    .why-panel {
        background-image: url(../../assets/imgs/whypanel.png);
        background-size: cover;
        background-position: center center;
        color: white;
        padding: 72px 0;

        .border-left {
            border-left: solid 1px rgb(35, 145, 184) !important;
        }
        .container {
            max-width: 90% !important;
        }
        .why-text {
            margin-bottom: 55px;
            text-align: center;
            color: white;
            font-weight: 500;
            font-size: 34px;
        }
        
        .item {
            padding: 0 30px;
            margin: 25px 0;
        }

        .item-category {
            font-weight: 500;
            font-size: 28px;
            padding: 0 30px;
            margin: 25px 0;
            @media all and (max-width: 768px) {
                text-align: left !important;
                padding: 0 !important;
            }
        }
        .item-contents {
            .item-title {
                font-weight: 400;
                font-size: 24px;
            }
            .item-content {
                font-weight: 200;
                font-size: 14px;
            }
        }
    }
}


.footer {
    height: 70px;
    width: 100%;
    background-color: black;
    padding: 0 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (max-width: 768px) {
        height: 140px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .copyright {
        margin: 0;
        font-weight: 300;
        font-size: 11px;
        color: white;
        text-align: center;
    }

    .service {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 320px;

        .social {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            p {
                border: solid 1px transparent;
                border-radius: 50%;
                color: white;
                width: 25px;
                height: 25px;
                margin: 0;
                text-align: center;
                margin-right: 10px;
                i {
                    background-color: transparent !important;
                }
            }
            :nth-child(1) {
                background-color: #3b5998;
            }
            :nth-child(2) {
                background-color: #1da1f2;
            }
            :nth-child(3) {
                background-color: #0e76a8;
            }
        }

        .notification {
            width: 180px;
            height: 35px;
            border: solid 1px transparent;
            border-radius: 5px;
            font-weight: 300;
            font-size: 14px;
            background-color: rgb(18, 18, 18);
            color: white;
            i {
                text-align: center;
                font-size: 12px;
                width: 16px;
                height: 16px;
                line-height: 16px;
                border-radius: 50%;
                background-color: rgb(79, 177, 26);
            }
        }
    }
}