@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";
@import "platform";
@import "integration";
@import "service";
@import "blogpost";
@import "competitors";
@import "blog";

body {
  font-family: 'BentonSans';
  background: #fff;
}
